body{
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulaire{
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.formulaire h2{
    text-align: center;
    margin-bottom: 20px;
}

.formulaire input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulaire button{
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.formulaire button:hover{
    background: #0056b3;
}

#message{
    text-align: center;
    margin-top: 10px;
    color: green;

}
/* Style des liens */
a{
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

a:hover{
    color: #0056b3;
    text-decoration: underline;
}


.formulaire p{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}